.Plataforma {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /*Ajustamos a flex start*/
    font-size: calc(10px + 2vmin);
}


/*Sección de mapeado normal*/
.Elemento {
    /*Ubicamos mediante un flexbox, la posición de cada uno de los objetos */
    display: flex;
    margin: 10px;
    padding: 2px 0;
}

.Elemento label{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.Elemento button {
    /*En el caso que el botón como tal no funcione*/
    background-color: #f72585;
    border: none;
    letter-spacing: 2px; /*Este atributo se encarga de espaciar las letras*/
    text-transform: uppercase; /*transforma el texto a todo mayúscula*/
    cursor: pointer; /*Cuando ponemos el cursor en el botón, va a simular el botón*/
    padding: 15px;
    border-radius: 18px;
    font-size: 20px;
    border-bottom: 1px solid white; /*Primero quitamos el borde a todo, luego se lo creamos solo en el bottom o lado inferior*/
    color: white;
    
    width: 400px;
    margin: 0 auto;
    display: block;
}

.Elemento button:hover{
    /*Si se deja presionado el botón se muestra*/
    background-color: #d23669;
}

/*Sección para el menú de búsqueda*/
.Elemento select{
    width: 400px;
    height: 150px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    overflow-y: auto; /*Añade scrollbar si se pasa de datos*/
}

.Elemento textarea {
    width: 408px;
    height: 150px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
    overflow-y: auto; /*Añade scrollbar si se pasa de datos*/
}

.Elemento input[type='range']{
    width: 430px;
}

.Elemento input[type='range'] + span{
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}
