.Plataforma {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /*Ajustamos a flex start*/
    font-size: calc(10px + 2vmin);
}

/*Sección de tabla de arriba*/
.Tab {
    position: fixed;  /*Centramos la posición inicial*/
    top: 0;           /*Lo colocamos al top de la imagen*/
    width: 100%;      /*Cubre todo el ancho*/
    background-color: #fdfdfd;  /*Tab de color blanco*/
    padding: 20px;    /*Espaciado de objetos*/
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;       /*Es ubicado sobre todo el contenido*/
}

.Tab > div {
    /*justify-content: space-between;*/
    align-items: center;
    display: flex;
}

.Tab div label {
    font-size: 34px;
    margin-left: 30px;
    /*padding-left: 30px;*/
}

.Tab div img {
    width: 125px;
    height: 80px;
    padding: 8px;
}

.Tab button {
    background-color: #657E86;
    padding: 14px;
    border-radius: 14px;
    font-size: 20px;
    margin: 0 30px;
}

/*Sección de mapeado normal*/
.Menu {
    display: flex;
    flex-direction: column;   /*Ajustado como columna*/
    align-items: center;      /*Ajustado al centro*/
    margin-top: 160px;        /*Hacemos un push hacia abajo*/
}

.Menu .Elemento {
    /*Ubicamos mediante un flexbox, la posición de cada uno de los objetos */
    display: flex;
    margin: 10px;
    padding: 10px 0;
}

.Menu .Elemento .Titulo{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.Menu .Elemento button {
    /*En el caso que el botón como tal no funcione*/
    background-color: #f72585;
    border: none;
    letter-spacing: 2px; /*Este atributo se encarga de espaciar las letras*/
    text-transform: uppercase; /*transforma el texto a todo mayúscula*/
    cursor: pointer; /*Cuando ponemos el cursor en el botón, va a simular el botón*/
    padding: 15px;
    border-radius: 18px;
    font-size: 20px;
    border-bottom: 1px solid white; /*Primero quitamos el borde a todo, luego se lo creamos solo en el bottom o lado inferior*/
    color: white;
    
    width: 400px;
    margin: 0 auto;
    display: block;
}

.Menu .Elemento button:hover{
    /*Si se deja presionado el botón se muestra*/
    background-color: #d23669;
}