.App {
  text-align: center;
}

/*Sección de contenido de aplicación*/
.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*Sección de formulario*/
.App-form {
  /*Decorando el cuadro que contiene el formulario y el título*/
  margin: 50px auto;
  width: 450px;
  padding: 30px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px; /*Redondea las esquinas del borde por la cantidad de pixeles*/
}

.App-form .Elemento {
  /*Ubicamos mediante un flexbox, la posición de cada uno de los objetos */
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.App-form .Elemento label{
  /*Se modifican los label que se encuentren dentro de un div clase elemento, dentro de un div clase contenedor*/
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.App-form .Elemento .Titulo{
  /*Sección inicial de iniciar sesión título*/
  color: white;
  text-align: center;
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: bold;
}

.App-form .Elemento input{
  /*Se modifican los input que se encuentren dentro de un div clase elemento, dentro de un div clase contenedor*/    
  width: 100%;
  padding: 10px 0;
  color: white;
  background: transparent; /*Hacemos que el color sea transparente*/
  border: none;
  border-bottom: 1px solid white; /*Primero quitamos el borde a todo, luego se lo creamos solo en el bottom o lado inferior*/
  margin-bottom: 30px; /*Un margen de 30 px en el lado inferior*/
  font-size: 20px;
}

.App-form .Elemento input[type="submit"]{
  /*Aquí, usamos el contenedor, elemento e input, y especificamos que es submit*/
  background-color: #f72585;
  border: none;
  letter-spacing: 2px; /*Este atributo se encarga de espaciar las letras*/
  text-transform: uppercase; /*transforma el texto a todo mayúscula*/
  cursor: pointer; /*Cuando ponemos el cursor en el botón, va a simular el botón*/
  padding: 15px;
  border-radius: 18px;
}

button {
  /*En el caso que el botón como tal no funcione*/
  background-color: #f72585;
  border: none;
  letter-spacing: 2px; /*Este atributo se encarga de espaciar las letras*/
  text-transform: uppercase; /*transforma el texto a todo mayúscula*/
  cursor: pointer; /*Cuando ponemos el cursor en el botón, va a simular el botón*/
  padding: 15px;
  border-radius: 18px;
}